<div class="modal-header">
  <h5 class="modal-title">Nieuw product maken</h5>
  <button type="button" class="btn-close" (click)="cancel()" aria-label="Close"></button>
</div>

<div class="modal-body">
  <div class="mb-2">
    <label class="form-label">Naam</label>
    <input [(ngModel)]="product.name" class="form-control" />
  </div>

  <div class="mb-2">
    <label class="form-label">Descriptie</label>
    <textarea [(ngModel)]="product.description" class="form-control" rows="3"></textarea>
  </div>

  <div class="row">
    <div class="col-md-4 mb-2">
      <label class="form-label">Prijs</label>
      <input type="number" [(ngModel)]="product.price" class="form-control" min="0" step="0.01" />
    </div>
    <div class="col-md-4 mb-2">
      <label class="form-label">Voorraad</label>
      <input type="number" [(ngModel)]="product.stock" class="form-control" min="0" step="1" />
    </div>
    <div class="col-md-4 mb-2">
      <label class="form-label">Image URL</label>
      <input [(ngModel)]="product.imageUrl" class="form-control" />
    </div>
  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary" (click)="cancel()">Close</button>
  <button type="button" class="btn btn-success" [disabled]="!valid" (click)="saveProduct()">Create Product</button>
</div>
